#intestazione{
    width: 100%;
    background-image: url(../img/pattern.png);
    background-repeat: repeat; 
    background-color: blue;
    margin-bottom: 40px;
}

#sezione-principale{
    padding: 20px;
}

#titolo{
    font-size: 40px;
    font-weight: 100;
}

#immagini{
    margin-top: 40px;
}

#logo{
    width: 120px;
    height:70px;
}

#scritta{
    color: blue;
}

table{
    border-collapse: collapse;
}

th,td{
    padding: 10px;
    text-align: center;
}

.riga-body-table{
    background-color:rgb(142, 194, 246);
    margin:1px;
    padding:1px;
}

#head-tabella{
    color:white;
    background-color: rgb(9, 65, 233);
    margin:1px;
    padding:1px;
}

.sottolineatura-gialla{
    background-color: yellow;
}

#span-footer{
    color:darkgray;
    font-weight: 900;
    font-size: 20px;
}

#ultima-immagine{
    margin-top:15px;
}