#intestazione{
    width: 100%;
    height: 50px;
    background-image: url(../img/pattern.png);
    background-repeat: no-repeat; 
    background-color: blue;
}

#scritta{
    color: blue;
}

.celeste-scuro{
    background-color:dodgerblue;

}

#head-tabella{
    background-color: royalblue;
}

.sottolineatura-gialla{
    background-color: yellow;
}
